<a href="https://colab.research.google.com/github/atman500/Atmane_K_mean/blob/main/douib_fatiha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
classic_reg=pd.read_csv('travel.csv',sep=';')
print(classic_reg.head())

   Trip ID       Destination  Start date    End date  Duration (days)  \
0        1        London, UK  05-01-2023  05-08-2023              7.0
1        2  Phuket, Thailand   6/15/2023   6/20/2023              5.0
2        3   Bali, Indonesia  07-01-2023  07-08-2023              7.0
3        4     New York, USA   8/15/2023   8/29/2023             14.0
4        5      Tokyo, Japan  09-10-2023   9/17/2023              7.0

   Traveler name  Traveler age Traveler gender Traveler nationality  \
0     John Smith          35.0            Male             American
1       Jane Doe          28.0          Female             Canadian
2      David Lee          45.0            Male               Korean
3  Sarah Johnson          29.0          Female              British
4     Kim Nguyen          26.0          Female           Vietnamese

  Accommodation type Accommodation cost Transportation type  \
0              Hotel               1200              Flight
1             Resort                800              Flight
2              Villa               1000              Flight
3              Hotel               2000              Flight
4             Airbnb                700               Train

  Transportation cost
0                 600
1                 500
2                 700
3                1000
4                 200

In [ ]:
 asclassic_reg=pd.read_csv('travel.csv',sep=';')
print(classic_reg.head())

   Trip ID       Destination  Start date    End date  Duration (days)  \
0        1        London, UK  05-01-2023  05-08-2023              7.0
1        2  Phuket, Thailand   6/15/2023   6/20/2023              5.0
2        3   Bali, Indonesia  07-01-2023  07-08-2023              7.0
3        4     New York, USA   8/15/2023   8/29/2023             14.0
4        5      Tokyo, Japan  09-10-2023   9/17/2023              7.0

   Traveler name  Traveler age Traveler gender Traveler nationality  \
0     John Smith          35.0            Male             American
1       Jane Doe          28.0          Female             Canadian
2      David Lee          45.0            Male               Korean
3  Sarah Johnson          29.0          Female              British
4     Kim Nguyen          26.0          Female           Vietnamese

  Accommodation type Accommodation cost Transportation type  \
0              Hotel               1200              Flight
1             Resort                800              Flight
2              Villa               1000              Flight
3              Hotel               2000              Flight
4             Airbnb                700               Train

  Transportation cost
0                 600
1                 500
2                 700
3                1000
4                 200

In [ ]:
classic_reg=pd.read_csv('travel.csv',sep=';')
print(classic_reg.head())

   Trip ID       Destination  Start date    End date  Duration (days)  \
0        1        London, UK  05-01-2023  05-08-2023              7.0
1        2  Phuket, Thailand   6/15/2023   6/20/2023              5.0
2        3   Bali, Indonesia  07-01-2023  07-08-2023              7.0
3        4     New York, USA   8/15/2023   8/29/2023             14.0
4        5      Tokyo, Japan  09-10-2023   9/17/2023              7.0

   Traveler name  Traveler age Traveler gender Traveler nationality  \
0     John Smith          35.0            Male             American
1       Jane Doe          28.0          Female             Canadian
2      David Lee          45.0            Male               Korean
3  Sarah Johnson          29.0          Female              British
4     Kim Nguyen          26.0          Female           Vietnamese

  Accommodation type Accommodation cost Transportation type  \
0              Hotel               1200              Flight
1             Resort                800              Flight
2              Villa               1000              Flight
3              Hotel               2000              Flight
4             Airbnb                700               Train

  Transportation cost
0                 600
1                 500
2                 700
3                1000
4                 200

In [ ]:
classic_reg=pd.read_csv('travel.csv',sep=';')
print(classic_reg.head())

   Trip ID       Destination  Start date    End date  Duration (days)  \
0        1        London, UK  05-01-2023  05-08-2023              7.0
1        2  Phuket, Thailand   6/15/2023   6/20/2023              5.0
2        3   Bali, Indonesia  07-01-2023  07-08-2023              7.0
3        4     New York, USA   8/15/2023   8/29/2023             14.0
4        5      Tokyo, Japan  09-10-2023   9/17/2023              7.0

   Traveler name  Traveler age Traveler gender Traveler nationality  \
0     John Smith          35.0            Male             American
1       Jane Doe          28.0          Female             Canadian
2      David Lee          45.0            Male               Korean
3  Sarah Johnson          29.0          Female              British
4     Kim Nguyen          26.0          Female           Vietnamese

  Accommodation type Accommodation cost Transportation type  \
0              Hotel               1200              Flight
1             Resort                800              Flight
2              Villa               1000              Flight
3              Hotel               2000              Flight
4             Airbnb                700               Train

  Transportation cost
0                 600
1                 500
2                 700
3                1000
4                 200

Classic model:applyed classic model,mean that develope our model using all tha  datset as they are wihout training. in this  step just we  have Independend variabales and Depended variabale,you can get the  dataset in the  next link:https://www.kaggle.com/datasets/rkiattisak/traveler-trip-data

# first step / import the  necessary pakages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

Develope  Classic model

In [ ]:
uploaded = files.upload()

Saving travel.csv to travel.csv

In [ ]:
classic_reg=pd.read_csv('travel.csv',sep=';')
print(classic_reg.head())

   Trip ID       Destination  Start date    End date  Duration (days)  \
0        1        London, UK  05-01-2023  05-08-2023              7.0
1        2  Phuket, Thailand   6/15/2023   6/20/2023              5.0
2        3   Bali, Indonesia  07-01-2023  07-08-2023              7.0
3        4     New York, USA   8/15/2023   8/29/2023             14.0
4        5      Tokyo, Japan  09-10-2023   9/17/2023              7.0

   Traveler name  Traveler age Traveler gender Traveler nationality  \
0     John Smith          35.0            Male             American
1       Jane Doe          28.0          Female             Canadian
2      David Lee          45.0            Male               Korean
3  Sarah Johnson          29.0          Female              British
4     Kim Nguyen          26.0          Female           Vietnamese

  Accommodation type Accommodation cost Transportation type  \
0              Hotel               1200              Flight
1             Resort                800              Flight
2              Villa               1000              Flight
3              Hotel               2000              Flight
4             Airbnb                700               Train

  Transportation cost
0                 600
1                 500
2                 700
3                1000
4                 200

For this example, we will consider `Duration (days)` as the dependent variable (`y`) and `Traveler age` as the independent variable (`X`).

In [ ]:
X = classic_reg_numerical[['Traveler age', 'Transportation cost']]
y = classic_reg_numerical['Duration (days)']

print("Independent variable (X - Traveler age, Transportation cost):")
print(X.head())
print("\nDependent variable (y - Duration (days)):")
print(y.head())

Independent variable (X - Traveler age, Transportation cost):
   Traveler age  Transportation cost
0          35.0                600.0
1          28.0                500.0
2          45.0                700.0
3          29.0               1000.0
4          26.0                200.0

Dependent variable (y - Duration (days)):
0     7.0
1     5.0
2     7.0
3    14.0
4     7.0
Name: Duration (days), dtype: float64

In [ ]:
classic_reg['Transportation cost'] = pd.to_numeric(classic_reg['Transportation cost'], errors='coerce')
numerical_cols = classic_reg.select_dtypes(include=np.number).columns
classic_reg_numerical = classic_reg[numerical_cols]
print("DataFrame with only numerical variables:")
print(classic_reg_numerical.head())

DataFrame with only numerical variables:
   Trip ID  Duration (days)  Traveler age  Transportation cost
0        1              7.0          35.0                600.0
1        2              5.0          28.0                500.0
2        3              7.0          45.0                700.0
3        4             14.0          29.0               1000.0
4        5              7.0          26.0                200.0

In [ ]:
import statsmodels.api as sm

# Add a constant to the independent variables for statsmodels
X_cleaned_sm = sm.add_constant(X_cleaned)

# Create and fit the OLS model
model_sm = sm.OLS(y_cleaned, X_cleaned_sm)
results_sm = model_sm.fit()

# Print the summary of the model
print(results_sm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Duration (days)   R-squared:                       0.028
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9953
Date:                Sat, 13 Dec 2025   Prob (F-statistic):              0.375
Time:                        17:30:42   Log-Likelihood:                -130.27
No. Observations:                  71   AIC:                             266.5
Df Residuals:                      68   BIC:                             273.3
Df Model:                           2
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   8.2387      0.949      8.679      0.000       6.344      10.133
Traveler age           -0.0318      0.027     -1.186      0.240      -0.085       0.022
Transportation cost     0.0002      0.000      0.715      0.477      -0.000       0.001
==============================================================================
Omnibus:                       26.181   Durbin-Watson:                   2.201
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               51.880
Skew:                           1.263   Prob(JB):                     5.43e-12
Kurtosis:                       6.340   Cond. No.                     5.62e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.62e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

### Applying a Classic Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Combine X and y to drop rows with NaN values consistently
df_combined = pd.concat([X, y], axis=1)
df_combined.dropna(inplace=True)

X_cleaned = df_combined[X.columns]
y_cleaned = df_combined[y.name]

# Initialize the Linear Regression model
model = LinearRegression()

# Fit the model using the entire dataset (as implied by 'classic model' without training split)
# If a train-test split is desired for evaluating performance, that would be the next step.
model.fit(X_cleaned, y_cleaned)

# Display the coefficients and intercept
print("Model Coefficients:", model.coef_)
print("Model Intercept:", model.intercept_)

# Make predictions on the training data
y_pred = model.predict(X_cleaned)

# Evaluate the model
mse = mean_squared_error(y_cleaned, y_pred)
r2 = r2_score(y_cleaned, y_pred)

print(f"\nMean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Model Coefficients: [-0.03183147  0.00019057]
Model Intercept: 8.238673314154727

Mean Squared Error (MSE): 2.30
R-squared (R2): 0.03

MSE from sklearn: 2.2973589995
MSE from statsmodels: 2.3987130730
Are the MSEs identical (within floating point precision)? False
R-squared from sklearn: 0.0284407117
R-squared from statsmodels: 0.0284407117
Are the R-squared values identical (within floating point precision)? True